$navbar-default-bg: #42f4bc;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #666666;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color:#666666;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
   background-image: asset-url('apppic2.jpg');
    background-size: cover;
    height: 550px;
}

.jumbotron h1 {
  color: #666666;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: - 1px;
  font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: whitesmoke;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #42f4bc;
}

footer a:hover {
  color: #42f4bc;
}

foorter small{
  float: left;
}

footer ul {
  float:right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}